In [9]:
def greeting(name):
    print("hello " + name + "!")
    print("welcome to the team")
greeting("zhila")

hello zhila!
welcome to the team

In [15]:
def subtract_num():
    print(10-5)
subtract_num()

5

In [17]:
def subtract_num(number1,number2):
    print(number1-number2)
subtract_num(10,5)

5

In [ ]:
# Define a function to calculate area of triangle
#def area_triangle(base, height):
 #return base * height / 2
# here is 3 forms of writing the code

In [ ]:
### example of return keyword in python

In [26]:
# way 1

def area(base, height) :
    print((base*height)/2)
area(5,10)

25.0

In [33]:
# way 2

def area(base,height):
    return base*height /2

area (5,10)

25.0

In [36]:
# way 3

def area(base,height):
    return base*height /2
result = area (5,10)
print(result)

25.0

In [ ]:
### example of return keyword in python

In [34]:
# way 1

def multiplyNum(num1):
    return num1 * 8

result = multiplyNum(8)
print(result)

64

In [35]:
# way 2

def multiplyNum(num1):
    return num1 * 8
multiplyNum(8)

64

In [ ]:
### example of "if" and "else" fucntion

In [39]:
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long.")
    else:
        print("Valid username.")
hint_username("zhila")

Invalid username. Must be at least 8 characters long.

In [40]:
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long.")
    else:
        print("Valid username.")
hint_username("mylovelyzhila")

Valid username.

In [46]:
def count_username(username):
    if len(username)<10:
       print("no")
    else:
       print("yes")
count_username("giveup")

no

In [52]:
def weather_warning(temperature):
    if temperature <25 :
        print("lovely day")
    else:
        print("too warm")
weather_warning(30)

too warm

In [2]:
def total_sales(price,num_tickets):
    
    round(price,num_tickets)
    
    return(price*num_tickets)

total_sales(15.99,1001)

16005.99