In [4]:
grade = int(input("enter your grade: "))

if grade >= 90:
    print("this is A")
elif grade >= 70 and grade <= 80:
    print("this is B")

enter your grade: 76
this is B

In [5]:
print("a","b",end=" ")

a b

In [28]:
print("Hello","world",end=" ")

Hello world

In [6]:
print("a","b",sep=" ")

a b

In [27]:
print("Hello","world",sep=" ")

Hello world

In [29]:
### using f string

print(f"Hello {'world'}")

Hello world

In [30]:
print("Hello" + " " + "world")

Hello world

In [7]:
print("a","b",sep=", ")

a, b

In [8]:
print("a","b",end=", ")

a b,

In [17]:
print("a\n","b")

a
 b

In [19]:
int("1")

1

In [20]:
print("zhila","3%2")

zhila 3%2

In [21]:
print("4%2",+"4%2")

TypeError: bad operand type for unary +: 'str'

In [22]:
str1 = "Hello"
str2 = "world"
result = str1 + " " + str2
print(result)  # Output: "Hello world"

Hello world

In [23]:
print("Hello"+"world")

Helloworld

In [26]:
print("Hello","world",sep=" ")

Hello world

In [31]:
fav_movie = input("What is your favorite movie? ")
fav_singer = input("What is your favorite singer? ")
print(f"Your favorite movie is {fav_movie}, and your favorite singer is {fav_singer}.")

What is your favorite movie? titanic
What is your favorite singer? hayedeh
Your favorite movie is titanic, and your favorite singer is hayedeh.

In [ ]:
#### loops #####

In [7]:
# one way

full_names=[["zhila","mofidi"],["celine","sadeghi"]]
for first_name in full_names:
    for last_name in first_name:
        print(last_name,end=" ")
    print()

zhila mofidi
celine sadeghi

In [ ]:
# second way

full_names=[["zhila","mofidi"],["celine","sadeghi"]]
names_list = [f"{first} {last}" for first, last in full_names]
for name in names_list:
    print(name)

In [ ]:
#third way

full_names= [["zhila","mofidi"],["celine","sadeghi"]]
name_list =[f"{a}  {b}"for a,b in full_names ]
for c in name_list:
    print(c)

In [1]:
x=3
y=4
if not(False):
    while x<=y:
        print(y)
        x+=1
    else:
        while x<=y:
                x+=1
                print(y)

4
4

In [2]:

counter = 0
while counter < 5:
    print("not yet, counter = " + str(counter))
    counter += 1
### print("counter = " + str(counter))

not yet, counter = 0
not yet, counter = 1
not yet, counter = 2
not yet, counter = 3
not yet, counter = 4

In [3]:
counter=1
while counter in range(10):
    print("counter= "+str(counter))
    counter +=1

counter= 1
counter= 2
counter= 3
counter= 4
counter= 5
counter= 6
counter= 7
counter= 8
counter= 9

In [4]:
counter=1
while counter in range(1,10,1):
    print("counter= "+str(counter))
    counter +=1

counter= 1
counter= 2
counter= 3
counter= 4
counter= 5
counter= 6
counter= 7
counter= 8
counter= 9

In [5]:
#Celsius = ((Fahrenheit-32)*5)/9


def to_Celsius(Fahrenheit):
    Celsius = ((Fahrenheit-32)*5)/9
    return  Celsius
for Fahrenheit in range(1,101,10):
    print(to_Celsius(Fahrenheit))

-17.22222222222222
-11.666666666666666
-6.111111111111111
-0.5555555555555556
5.0
10.555555555555555
16.11111111111111
21.666666666666668
27.22222222222222
32.77777777777778

In [9]:
d = {}
d[1] = 1
d['1'] = 2
d[1] = 3
sum = 0
for i in d:
    sum += d[i]
print(sum)

5

In [14]:
### course is not found so we get error###

course = {'1': 'CIT590',
          '2': 'CIT591',
          '3': 'CIT593'}
print(course['4'])

KeyError: '4'

In [15]:
course = {'1': 'CIT590',
         '2': 'CIT591',
         '3': 'CIT593'}
print(course.get('4', 'CIT594'))

CIT594

In [16]:
d = {'A': 1, 'B': 2, 'C': 3}
list(d.keys())

['A', 'B', 'C']

In [17]:
course = {'1': 'CIT590',
          '2': 'CIT591',
          '3': 'CIT593'}
print(course['1'])

CIT590

In [18]:
course = {'1': 'CIT590',
          '2': 'CIT591',
          '3': 'CIT593'}
print(course.get('4'))

None

In [19]:
course = {'1': 'CIT590', '2': 'CIT591', '3': 'CIT593'}
print(course.get('4', 'Course not found'))

Course not found